:root {
    --primaryColor: #000000;
    --text-color: #fff;
    --secondaryColor: #E4E4E7;
    --blue-200: #93C5FD;
    --text-secondary: #A1A1AA;
    --mainFont: "Plus Jakarta Sans", sans-serif;
}
.login-hero{
    background-image: url(../img/public/login-car.webp); 
   min-height:75vh ; 
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 0; 
   
}
.login-hero p{
    font-size: 14px;
}
.login{
    border: 1px solid var(--text-secondary);
   
    
}
.login-way-icon .icon{
    color: var(--text-secondary);
    border: 1px solid var(--text-secondary);

}
