:root {
    --primaryColor: #000000;
    --text-color: #fff;
    --secondaryColor: #E4E4E7;
    --blue-200: #93C5FD;
    --mainFont: "Plus Jakarta Sans", sans-serif;
}

body {
    background-color: var(--primaryColor);
    font-family: var(--mainFont);
  
}
a{
    text-decoration: none;
    color: var(--primaryColor);
    font-size: 14px;

}
.alert {
    margin-bottom: 0;
}

.alert-warning,
.alert {
    background-color: var(--primaryColor);
}

@media screen and (max-width:390px) {
    .btn-close {
        display: none;
    }
}

@media screen and (max-width:530px) {
    .alert-text {
        font-size: 13px;
    }

    .btn-close {
        width: 0.85em;
        height: 0.85em;
        background-size: 0.85em;
    }
}

@media screen and (max-width:450px) {
    .alert-text {
        font-size: 10px;
    }

    .btn-close {
        width: 0.75em;
        height: 0.75em;
        background-size: 0.75em;
    }
}

@media screen and (max-width:356px) {
    .alert-text {
        font-size: 8px;
    }
}

.navbar-brand img,.footer-logo img {
    width: 150px;
    height: 80px;
}

.nav-link {
    color: var(--text-color);
    font-size: 18px;
}

.nav-icons img {
    width: 28px;
    height: 28px;
}

.navbar form {
    background-color: var(--secondaryColor);
    border: 3px solid #E7E6EF;
    border-radius: 62px;
    display: flex;
    padding: 0 11px;
}

form .search-btn {
    background-color: var(--secondaryColor);
    border: none;

}

.form-control {
    border: none;
    background-color: var(--secondaryColor);
}

.nav-icons {
    padding: 0 48px;
}

.form-control:focus {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: var(--secondaryColor);
}

@media screen and (max-width:457px) {
    .navbar-brand img,.footer-logo img {
        width: 120px;
        height: 50px;
    }

    .nav-icons img,
    .navbar-toggler-icon,
    .navbar-toggler {
        width: 20px;
        height: 20px;
    }
}

.navbar-toggler {
    padding: 0.25rem;
    border: none;
    outline: none;
}

.navbar-toggler-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.navbar-toggler-icon {
    background-image: none;
}

.navbar-toggler {
    border-color: transparent;

}

.navbar-toggler-icon::before {
    content: "\2630";
    color: white;
    font-size: 1.5rem;
}

.hero {
    background-image: url(../img/public/Content.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero-content{
       font-family: var(--mainFont);
}

.hero-content span {
    color: var(--blue-200);
 
}
.hero p {
    max-width: 705px;

  }
  .white-space{
    padding: 80px 0;
   
  }
  .subscribe{
    background-color: var(--primaryColor);
    color: var(--text-color);
    top: 50px;
    left: 48px;
    width: 90%;
    border-radius: 12px;
    padding:20px;
 
  }

  .sub-left span {
    color: var(--blue-200);
 
}
@media screen and (max-width:989px) {


    .subscribe{
        width: 80%;
        top:20px;
        left: 10%;
   padding: 10px;
    }
}
@media screen and (max-width:769px) {
    .subscribe{
        width: 80%;
        top:25px;
        left: 10%;
   padding: 10px;
    }
    .white-space{
      padding-top: 100px 0;
    }
    .sub-left h2{
        font-size: 20px !important;
       }
      
}
@media screen and (max-width:426px) {
    .subscribe{
        width: 95%;
        top:20px;
        left: 10px;
   padding: 10px;
    }
    .white-space{
      padding-top: 100px 0;
    }
    .sub-left h2{
        font-size: 20px !important;
       }
       .sub-right .form-control{
        font-size: 12px;
       }
      
}
@media screen and (max-width:376px) {


       .sub-right .form-control{
        font-size: 10px;
       }
      .sub-right button{
        font-size: 15px;
      }
}
@media screen and (max-width:321px) {

    .sub-right .form-control{
     font-size: 8px;
    }
   .sub-right button{
     font-size: 10px;
   }
}
.sub-right form,.sub-right button{
    background-color: var(--secondaryColor);
     border: 2px solid #E7E6EF;
    border-radius: 62px;
}
.footer-content{
    background-color: #E4E4E7;
}
.social-icons{
    gap: 37.5px;
}
.copy-write{
    border-top:solid 1px #A1A1AA ;
    padding-bottom: 9px ;
    padding-top: 37px;
}
