:root{
    --primaryColor:#000000;
    
}
.alert-warning,.alert{
    background-color: var(--primaryColor);
}
@media screen and (max-width:390px) {
    .btn-close{
       display: none;
    }
}
@media screen and (max-width:530px) {
    .alert-text{
     font-size: 13px;
    }   .btn-close{
        width: 0.85em;   
        height: 0.85em;  
        background-size: 0.85em;
    }
}
@media screen and (max-width:450px) {
    .alert-text{
     font-size: 10px;
    }
    .btn-close{
        width: 0.75em;   
        height: 0.75em;  
        background-size: 0.75em;
    }
}
@media screen and (max-width:356px) {
    .alert-text{
     font-size: 8px;
    }
}